@charset "utf-8";
/* CSS Document */
.ydrebox{
	flex-wrap: wrap;
	width: 200px;
	padding: 0.5%;
	background: #B6B6B6;
	border: 2px solid grey;
}
.tekst1{
	animation-name: tekst1;
	animation-duration: 5s;
	transition-timing-function: ease-out;
	animation-fill-mode: backwards;
	text-align: center;
	font-size: 1.5em;
}
@keyframes tekst1 {
 0% {transform: translate(-100px, 0px);}
 100% {transform: translate(0px, 0px);}
 }

.banner img{
	animation-name: tekst1;
	animation-duration: 10s;
	transition-timing-function: ease-out;
	animation-fill-mode: backwards;
	padding-top: 6%;
	width: 100%;
	height: auto;
}

.tekst2{
	animation-name: tekst1;
	animation-duration: 10s;
	transition-timing-function: ease-out;
	animation-fill-mode: backwards;
	font-size: 1.5em;
	text-align: center;
}
button{
	animation-duration: 10s;
	animation-fill-mode: backwards;
	
	transition-timing-function: ease-out;
	position: relative;
	left: 20px;
	top: 5px;
	font-size: 1.5em;
	background-color: #5D5BA7;
	color: white;
	text-align: center;
}